body {
    background: rgb(253, 254, 255);
    font: 18px Arial, sans-serif;
}


/*===================================================*/

/* profile pic/name style */
.profile {
    text-align: center;
    margin-top: 20px;
}

.profile_name {
    text-align: center;
    color: black;
    font-size: 36px;
    font-weight: bold;
}

.profile n {
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.profile a {
    color: grey;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}


/*===================================================*/

/* page/text style */
.about {
    width: 55%;
    margin: 0 auto;
}

.about p {
    color: black;
    text-align: left;
}

.about p#intro {
    color: black;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 60px;
}

.about p#project {
    color: black;
    font-size: 16px;
    margin-top: -6px;    
}

.about p a {
    color: rgb(76, 86, 175);
    text-decoration: None;
}

.about h1 {
    color: black;
    text-align: left;
    font-size: 28px;  
    border-bottom: lightgrey 1px solid;  
}

.about h2 {
    color: lightslategray;
    text-align: left;
    font-size: 20px;
}

.about br {
    display: block;
    margin: 6px 0;
}

.about br#big {
    display: block;
    margin: 40px 0;
}

/*===================================================*/

/* set up navigation bar */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }

  .topnav h {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 16px; 
    font-size:30px;
    font-weight: bold; 
    margin-left: 20%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a#end{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20%;
  }

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(76, 86, 175);
    color: white;
  }

.topnav a#end:hover {
    background-color: #ddd;
    color: black;
  }

  @media screen and (max-width: 570px) {
	.about {
		width:100%;
		text-align:left;
	}
	.profile {
        width:100%;
        text-align:center;
    }
    .topnav h {
            float: left;
            color: white;
            text-align: center;
            padding: 15px 10px; 
            font-size:15px;
            font-weight: bold; 
            margin-left: 0%;
    }

    .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 18px 5px;
        text-decoration: none;
        font-size: 10px;
      }
    
      .topnav a#end{
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 18px 5px;
        text-decoration: none;
        font-size: 10px;
        margin-right: 0%;
      }
}
